/**
All Transitions
*/
a,input,img,textarea,button,
.bt-grd-item:hover,.toTopBtn,ul.slick-dots li,
.bt-contact-lft-sliderbar .bt-contact-mail i,.bt-contact-lft-sliderbar .bt-contact-tel i{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.popular-brands-logos ul li:hover a figure img,
.bt-grd-item:hover .product-img > a img{
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.bt-grd-item{
	overflow: hidden;
}
/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{

}
ul.slick-dots li:hover{
	background:#f4b406!important;
}
.bt-search-selects-submit-btn input[type="submit"]:hover,
.showrooms-btn button:hover,
.ftr-social ul li a:hover{
	background: #242424;
}
.ftr-social ul li a:hover{
	border-color: #ccc;
	color: #fff;
}

.hdr-topbar-social ul li a:hover,
nav.main-nav ul.sub-menu li:hover a{
	color: #242424;
}

nav.main-nav > ul > li:hover > a,
.fl-textwidget ul li:hover a,
.fl-textwidget ul li.active a{
	color: #f4b406;
}

.hdr-search button:hover{
	background: #f4b406;
}

.hdr-search input[type="search"]:focus{
	border-color: #242424;
}

.ftr-subscribe form input[type="email"]:focus{
	border-color: #f4b406;
}

.footer-mail a:hover{
	padding-left: 2px;
}
.developedby a:hover{
	opacity: .9;
}
.toTopBtn:hover{
	opacity: .7;
}
