/*.main-content{
	background: url(../images/hero-landscape.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-repeat: repeat-x;
}*/
.page-banner{
	position: relative;
}
.page-banner:after{
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
}
.bnr-vdo{
	overflow: hidden;
}
.bnr-vdo video{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 0;
}
/*.bnr-vdo video,
.bnr-vdo video source{
	width: 100%!important;
	height: 100%!important;
}*/


.page-banner-con{
	position: relative;
	z-index: 2;
}

.page-banner.compare-page-bnr .main-bnr-slide-item-des{
	min-height: 500px;
}

.not-found-page{
	background: url(../images/hand_holding_keys_594354.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	border-bottom: 1px solid #ccc;
}

.not-found-page-inr{
	padding: 100px 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
	background: rgba(226,226,226,.89);
}
.not-found-page-inr div{
	text-align: center;
	padding-bottom: 15px;
}
.not-found-page-inr img{
	max-width: 450px;
	margin: 0 auto;
}

.not-found-page-inr h1{
	font-size: 180px;
    color: #242424;
}
.not-found-page-inr h2{
	color: #DE6C5D
}
.not-found-page-inr p{
	color: #242424;
}
.not-found-page-inr p a{
	color: #f4b406;
	text-decoration: underline;
}
.not-found-page-inr p a:hover{
	text-decoration: none;
}
.bt-default-page-con p{
	margin-bottom: 45px;
}

.bt-default-page-con h1,
.bt-default-page-con h2,
.bt-default-page-con h3{
	margin-bottom: 25px;
}
.bt-default-page-con h4,
.bt-default-page-con h5,
.bt-default-page-con h6{
	margin-bottom: 20px;
}

.bt-default-page-con ul li {
	padding: 0 0 15px 28px;
	position: relative;
	line-height: 24px;
}

.bt-default-page-con ul li::after{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background: url(../images/list-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 14px;
	height: 14px;
}
.bt-default-page-con ol,
.bt-default-page-con ul{
	list-style: none;
	padding-left: 20px;
	padding-bottom: 30px;
}
.bt-default-page-con ol{
	padding: 0 0 0 25px;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.bt-default-page-con ol li{
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 15px;
	line-height: 24px;
}
.bt-default-page-con ol li::before {
	content: counter(my-awesome-counter) ". ";
	color: #f4b406;
	font-weight: 800;
	margin-right: 15px;
}


.fl-sec-hdr{
    padding-left: 10px;
}
.fl-sec-hdr h4{
    color: #39393c;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize; 
    line-height: 1.1; 
}
.fl-sec-hdr h4::before {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#000000), to(#ffffff)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #000000 0%, #ffffff 100%) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 120px;
}
.compare-single-page-con .fl-sec-hdr,
.contact-main-content .fl-sec-hdr{
	padding-left: 0;
}


/*
-------------------
Start Responsive
-------------------
*/

@media(max-width: 1199px){


}


@media(max-width: 991px){

}


@media(max-width: 767px){

}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.bt-default-page-con ol,
	.bt-default-page-con ul{
		padding-left: 20px;
	}
	.bt-default-page-con ol li::before {
	    margin-right: 10px;
	}
	.not-found-page-inr h1 {
	    font-size: 140px;
	}
	.slick-prev, .slick-next{
		width: 35px!important;
		height: 35px!important;
	}
	ul.slick-dots li:not(:last-child):after{
		content: none!important;
	}
	ul.slick-dots li{
		margin-left: 5px!important;
		margin-right: 5px!important;
	}
}


@media(max-width: 479px){


}



@media(max-width: 359px){
	.not-found-page-inr h1 {
	    font-size: 120px;
	}
	.not-found-page-inr h2{
		font-size: 28px;
	}
}