
.bt-bike-gallery-section {
	padding-bottom: 20px;
}
.bt-bike-gallery-sec-lft-con{
	float: left;
	width: 56%;
	margin-right: 2%;
}
.bt-bike-gallery-main-fea{
	width: 42%;
	float: right;
	padding: 20px;
	background: rgba(0,0,0,.8);
	border-radius: 10px;
	color: #fff;
}
.bt-bike-gallery-full-img-item{
	text-align: center;
}
.bt-bike-gallery-full-img-item img{
	display: inline-block;
	vertical-align: baseline;
}
#btBikeGallerySlider .slick-prev{
	left: 0;
}
#btRelatedBikesSlider .slick-prev{
	left: 10px;
}
#btBikeGallerySlider .slick-next{
	right: 0;
}
#btRelatedBikesSlider .slick-next{
	right: 10px;
}

#btBikeGallerySlider .slick-next,
#btBikeGallerySlider .slick-prev,
#btRelatedBikesSlider .slick-next,
#btRelatedBikesSlider .slick-prev{
	margin-top: -20px;
	opacity: 0!important;
}
#btBikeGallerySlider:hover .slick-next,
#btBikeGallerySlider:hover .slick-prev,
#btRelatedBikesSlider:hover .slick-next,
#btRelatedBikesSlider:hover .slick-prev{
	margin-top: 0;
	opacity: 1!important;
}
.bt-bike-gallery-main-fea h4{
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 0;
}
.specification-tbl li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 15px;
	display: flex;
	align-items: center;
}
.specification-tbl li span{
	padding: 10px;
}
.specification-tbl li span:first-child{
	width: 42%;
	float: left;
	font-weight: 600;
	font-size: 16px;
}
.specification-tbl li span:last-child{
	width: 58%;
	float: right;
}
.bt-bike-gallery-main-fea h6{
	padding-top: 15px;
}

.bt-full-specifications-entry-title{
	padding: 10px;
	color: #fff;
	background:rgba(0,0,0,.8);
	margin-bottom: 0;
}
.bt-full-specifications-row{
	padding-bottom: 25px;
}
.specification-tbl-sub li{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.specification-tbl li span:last-child{
	padding-left: 20px;
	border-left: 1px solid #ccc;
}
.specification-tbl-sub li span{
	padding-top: 5px;
	padding-bottom: 5px;
}
.bt-full-specifications-row h6{
	margin-bottom: 0;
	padding-bottom: 10px;
	padding: 10px;
    color: #fff;
    background: rgba(0,0,0,.8);
}

.bt-related-bikes-section{
	padding-top: 50px;
	position: relative;
	border-top: 1px solid #e0e0e0;
}
.bt-related-bikes-section .fl-sec-hdr{
	padding-left: 0;
}
.bt-related-bikes-slider{
	margin-left: -10px;
	margin-right: -10px;
}
.bt-related-bikes-section:before {
    background-image: url(../images/shadow.png);
    background-position: center bottom;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 20px;
    content: '';
    left: 0;
    top: -1px;
}
.bt-related-bikes-slide-item{
	padding: 10px 10px;
}



.hasImg{
	position: absolute;
    bottom: 0;
}
.hasImg:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.hasImg img{
	opacity: 0.4;
}
.main-content {
    position: relative;
}



@media(max-width: 1199px){


}

@media(max-width: 1023px){
	.bt-bike-gallery-sec-lft-con{
		width: 100%;
		margin-right: 0;
	}
	.bt-bike-gallery-main-fea{
		width: 100%;
	}
	.bt-bike-gallery-section{
		padding-bottom: 40px;
	}
	.bt-bike-gallery-slider .slick-dots{
		z-index: 20;
		bottom: 50px;
	}
}
@media(max-width: 991px){

}


@media(max-width: 767px){

}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.bt-bike-gallery-slider .slick-dots {
	    bottom: 25px;
	}
	.bt-bike-gallery-main-fea h4{
		text-align: center;
	}

}


@media(max-width: 479px){
	.specification-tbl li span:first-child{
		font-size: 15px;
	}
	.specification-tbl li span:first-child{
		width: 43%;
	}
	.specification-tbl li span:last-child{
		width: 57%;
	}

}



@media(max-width: 359px){

}