.compare-single-page-con{
	padding-bottom: 150px;
}
.compare-single-top-grd{
	padding-top: 25px;
	padding-bottom: 50px;
}
.compare-single-top-grd ul{
	margin: 0 -8px;
}
.compare-single-top-grd ul li{
	float: left;
	width: 25%;
	padding: 0 8px;
}
.compare-single-top-grd-col *{
	display: block;
	text-align: center;
}
.compare-single-top-grd-img{
	padding-bottom: 20px;
}
.compare-single-top-grd-img img{
	width: 100%;
}
.comparison-tbls-data{
	color: #3a3a3a;
	background: #edf2f1;
}
ul.comparison-tbl-headers li{
	border-top: 1px solid #000!important;
	background: #242424;
	color: #fff;
}
ul.comparison-tbl-headers li,
ul.comparison-tbl-data li{
	float: left;
	width: 20%;
	text-align: center;
	border: 1px solid #000;
	border-left: none;
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
}
ul.comparison-tbl-headers li:first-child,
ul.comparison-tbl-data li:first-child{
	justify-content: left;
	border-left: 1px solid #000;
}

.dimension-divider{
	text-align: center;
	padding: 20px 10px;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

ul.comparison-tbl-headers li,
ul.comparison-tbl-data li,
.dimension-divider,
ul.comparison-tbl-headers li:first-child,
ul.comparison-tbl-data li:first-child,
ul.comparison-tbl-headers{
	border-color: #242424!important;
}

.dimension-divider h5{
	margin-bottom: 0;
	font-weight: 700;
	color: #000;
}
.comparison-tbl-data li span{
	display: block;
}
.comparison-tbl-data li:first-child{
	font-weight: 700;
	font-size: 16px;
}
.compare-vs-titles{
	text-align: center;
	    padding: 20px 20px 25px;
    border-radius: 10px 10px 0 0;
    margin-top: -80px;
    position: relative;
    z-index: 9;
/*background: rgba(186,178,177,1);
background: -moz-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,178,177,1)), color-stop(46%, rgba(158,154,153,0.17)), color-stop(62%, rgba(168,165,168,0.06)), color-stop(74%, rgba(214,211,214,0.06)), color-stop(100%, rgba(255,255,255,0.06)));
background: -webkit-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -o-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -ms-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: linear-gradient(to bottom, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab2b1', endColorstr='#ffffff', GradientType=0 );	*/
}
.compare-vs-title{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
.compare-vs-title:last-child span{
	display: none;
}
.compare-vs-titles span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    background: #24272c;
    border: 1px solid rgba(36,39,44,.15);
    font-weight: 500;
    text-align: center;
    line-height: 36px;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
    font-size: 15px;
    position: relative;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.compare-vs-titles span:after,
.compare-vs-titles span:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	height: 1px;
	width: 50px;
	background: #000;
}
.compare-vs-titles span:after{
	left: 100%;
}
.compare-vs-titles span:before{
	right: 100%;
}

.compare-vs-title{
	width: 50%;
	padding-left: 85px;
	padding-right: 85px;
	float: left;
}

.compare-vs-title h5{
	border: 1px solid #f4b406;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: #242424;
	background: #ddd;
}

.compare-vs-2 .compare-vs-titles .compare-vs-title:first-child h5{
	justify-content: right;
}
.compare-vs-2 .compare-vs-titles .compare-vs-title:last-child h5{
	justify-content: left;
}

.compare-vs-3 .compare-vs-titles .compare-vs-title{
	width: 33.3333%;
}

.compare-vs-3 .compare-vs-titles .compare-vs-title h5{
	font-size: 16px;
}

.compare-vs-4 .compare-vs-titles .compare-vs-title{
	width: 25%;
	padding-left: 35px;
	padding-right: 35px;
}

.compare-vs-4 .compare-vs-titles span:after, 
.compare-vs-4 .compare-vs-titles span:before{
	width: 18px;
}

.compare-vs-4 .compare-vs-titles span{
	right: -18px;
}

.compare-vs-3 .compare-single-top-grd ul li{
	width: 33.333%;
}

.compare-vs-3 ul.comparison-tbl-headers li,
.compare-vs-3 ul.comparison-tbl-data li{
	width: 25%;
}