.home-page-bnr{
    overflow: hidden;
}
.main-banner{
	position: relative;
    background-position: bottom center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.main-bnr-slide-item{

}
.main-bnr-slide-item-des{
    display: flex;
	width: 100%;
    min-height: 400px;
	padding-right: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.main-bnr-slide-item-des{
    text-align: center;
}
/*.main-bnr-slide-item-img{
	width: 60%;
	padding-left: 200px;
	float: right;
}
.main-banner img{
    width: 100%;
}
*/

.main-bnr-slide-item-des p{
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 25px;
}
.main-bnr-slide-item-des h2{
	font-weight: 700;
}
.main-bnr-slide-item-des h5{
	font-weight: 400;
    color: #ed1d24;
    text-transform: uppercase;
    color: #ed1d24;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 900;
}
.main-bnr-slide-item-des h1{
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 8px;
    font-weight: 900;
}
.main-bnr-slide-item-des a {
    border-radius: 26px;
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-right: 45px;
    text-align: center;
    position: relative;
}
.main-bnr-slide-item-des a:after{
	content: "";
   	background: url(../images/right-arrow-black.png);
   	background-repeat: no-repeat;
    width: 25px;
    height: 17px;
    background-size: 100% auto;
    position: absolute;
    right: 0;
    top: 4px;
    margin-right: 5px;

}
.main-bnr-slide-item-img{
	text-align: right;
}
.main-bnr-slider{
    position: relative;
}


.main-bnr-slider ul.slick-dots,
ul.slick-dots{
	bottom: 5px;
}
.main-bnr-slider ul.slick-dots li,
ul.slick-dots li{
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	background:rgba(255,255,255,0.3);
	/*border-radius: 100%;*/
	padding: 0;
	margin: 0 20px;
    position: relative;
}
.main-bnr-slider ul.slick-dots li:not(:last-child):after,
ul.slick-dots li:not(:last-child):after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30px;
    left: 100%;
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin-left: 4px;
}
.slick-dots li button{
	padding: 0;
	margin: 0;
	width: 12px;
	height: 12px;
}
.main-bnr-slider ul.slick-dots ul li button:before,
.main-bnr-slider ul.slick-dots ul li.slick-active button:before,
ul.slick-dots ul li button:before,
ul.slick-dots ul li.slick-active button:before{
	content: none;
	opacity: 1!important;
}
.main-bnr-slider ul.slick-dots li.slick-active,
ul.slick-dots li.slick-active{
	background: #fff;
}
.main-bnr-slider .slick-dots li button:before,
.slick-dots li button:before{
	content: none;
}

#btRelatedBikesSlider ul.slick-dots{
    position: static;
}

#btRelatedBikesSlider ul.slick-dots li,
.compare-bikes-slider ul.slick-dots li{
    background: #000;
}
#btRelatedBikesSlider ul.slick-dots li.slick-active,
.compare-bikes-slider ul.slick-dots li.slick-active{
    background: #f4b406;
}
#btRelatedBikesSlider ul.slick-dots li:not(:last-child):after,
.compare-bikes-slider ul.slick-dots li:not(:last-child):after{
    background: #000;
}
.slick-prev,
.slick-next {
   width: 50px;
   height: 50px;
   padding: 0;
   opacity: 1;
   background: #f4b406;
   cursor: pointer;
   z-index: 10;
   opacity: 1!important;
   display: flex;
   align-items: center;
   justify-content: center;
}
.slick-next:before,
.slick-prev:before{
	content: none;
}
.slick-next:after,
.slick-prev:after{
	content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    text-decoration: inherit;
    color: #fff;
    font-size: 20px;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.slick-next:hover,
.slick-prev:hover{
	opacity: 1!important;
	background: #242424;
}
.slick-prev:after{
	content: "\f104";
}
.slick-next:after{
	content: "\f105";
}
.slick-next{
	right: 20px;
}
.slick-prev{
	left: 20px;
}

.main-bnr-slider .slick-prev,
.main-bnr-slider .slick-next{
	margin-top: -25px;
	opacity: 0!important;
	transition: all 0.3s ease 0s;
}
.main-bnr-slider:hover .slick-prev,
.main-bnr-slider:hover .slick-next{
	margin-top: 0;
	opacity: 1!important;
}

.compare-bikes-slider .slick-prev,
.compare-bikes-slider .slick-next{
    margin-top: -25px;
    opacity: 0!important;
    width: 40px;
    height: 40px;
}
.compare-bikes-slider:hover .slick-prev,
.compare-bikes-slider:hover .slick-next{
    margin-top: 0;
    opacity: 1!important;
} 

.compare-bikes-slider .slick-prev{
    left: 8px;
}
.compare-bikes-slider .slick-next{
    right: 8px;
}
.compare-bikes-slider ul.slick-dots{
    position: static;
}

.bt-filter-search-item-price-range .ui-state-default, 
.bt-filter-search-item-price-range .ui-widget-content .ui-state-default{
    border-radius: 100% 100%;
    background: #f4b406;
    border-color: #f4b406;
}

/*Left Sidebar */

.fl-widget-title{
	font-size: 20px;
    margin-bottom: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    text-transform: uppercase;
}
.fl-textwidget{
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px 15px 10px;
}
.fl-textwidget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fl-textwidget ul li{
    position: relative;
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #ddd;
    color: #fff;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.fl-textwidget ul li:last-child{
    border: none;
}
.fl-textwidget ul li:hover{
    padding-left: 20px;

}
/*.fl-textwidget ul li:nth-child(2n+2){
    background: #333131;
}*/
.fl-textwidget ul li a{
    color: #000;
    display: block;
}


/*Main content*/
.main-con-section{
    padding-bottom: 50px;
}
.main-content{
    padding: 50px 0;
}
.main-content.home-main-content{
    padding-top: 0;
}

.search-filter-section {
   /* background: rgba(255, 255, 255, .5);*/
background: rgba(186,178,177,1);
background: -moz-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,178,177,1)), color-stop(46%, rgba(158,154,153,0.17)), color-stop(62%, rgba(168,165,168,0.06)), color-stop(74%, rgba(214,211,214,0.06)), color-stop(100%, rgba(255,255,255,0.06)));
background: -webkit-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -o-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: -ms-linear-gradient(top, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
background: linear-gradient(to bottom, rgba(186,178,177,1) 0%, rgba(158,154,153,0.17) 46%, rgba(168,165,168,0.06) 62%, rgba(214,211,214,0.06) 74%, rgba(255,255,255,0.06) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bab2b1', endColorstr='#ffffff', GradientType=0 );
    padding: 20px 20px 75px;
    border-radius: 10px 10px 0 0;
    margin-left: -20px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-top: -58px;
    position: relative;
    z-index: 9;
}
.bt-search-filter-sec-hdr h4{
    color: #dfd999;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.bt-search-filter-sec-hdr h4 span{
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 37px;
}
.bt-search-filter-sec-hdr h4 span br{
    display: none;
}
.bt-search-filter-sec-hdr h4:after,
.bt-search-filter-sec-hdr h4:before{
    content: "";
    background: #ddd;
    position: absolute;
    width: 33%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 1px;
    z-index: 15;    
}
.bt-search-filter-sec-hdr h4:after{
    left: 0;

}
.bt-search-filter-sec-hdr h4:before{
    right: 0;
}
.bt-search-filter-sec-hdr h4 span:before,
.bt-search-filter-sec-hdr h4 span:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 15;
}
.bt-search-filter-sec-hdr h4 span:before {
    left: 0;
}
.bt-search-filter-sec-hdr h4 span:after {
    right: 0;
}






.bt-filter-search-item{
    width: 22%;
    float: left;
    padding: 0 10px;
}
.bt-filter-search-item-price-range{
    width: 34%;
}
.bt-filter-search-item label,
.bt-search-range-slider label{
    text-transform: uppercase;
}
.bt-search-range-slider{
    padding-top: 0;
    padding-left: 0;
}
.bt-search-range-slider-hdr{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
#slider-range{
    margin-left: 10px;
}
.bt-search-selects-submit-btn{
    text-align: center;
    padding-top: 20px;
}
.bt-search-range-slider-hdr input {
    font-size: 14px;
    padding-left: 5px;
    line-height: 100%;
    position: relative;
    top: -2px;
    background: transparent;
}
.bt-search-selects-submit-btn input[type="submit"]{
    width: 150px;
    height: 45px;
    background: #f4b406;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

.bt-grd-controller > ul > li{
    float: left;
    width: 33.3333%;
    padding: 0 10px 20px;
}
.bt-grd-controller > ul > li:nth-child(3n+1){
    clear: left;
}
.bt-grd-item{
    position: relative;
    box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    background: #F6F6F6;
    text-align: center;
}
.bt-grd-item:hover{
    box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.3);
}
.bt-grd-item .product-img a{
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;
    color: #f4b406;
}
.product-item-dec {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    padding: 0 10px;
}

.product-item-dec li {
    display: inline-block;
    color: #9b9b9b;
    margin: 0 7px;
    position: relative;
    font-size: 15px;
}
.product-item-dec li:not(:last-child):before {
    background-color: #b3b3b3;
    content: "";
    height: 2px;
    position: absolute;
    right: -11px;
    top: 11px;
    transition: all 0.4s ease 0s;
    width: 6px;
}
.product-content-wrapper {
    bottom: 0;
    left: 0;
    opacity: 1;
    padding: 30px 20px 40px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    text-align: center;
}

.product-title-spreed > h4 {
    color: #353535;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
    font-family: 'Oswald', sans-serif;
}
.product-title-spreed > h4, .product-price > span {
    font-size: 19px;
}
.product-title-spreed > span {
    color: #9b9b9b;
}



.popular-brands-logos{
	padding-top: 0;
    padding-left: 10px;
}
.popular-brands-logos ul li{
    float: left;
    width: 16.6666%;
    border: solid 1px #242424;
    border-right: none;
    margin-bottom: 15px;
    padding-bottom: 12px;
    min-height: 145px;
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.popular-brands-logos ul li:nth-child(6n+1){
    clear: left;
}
.popular-brands-logos ul li:nth-child(6n+6){
    border-right: 1px solid #242424;
}
.popular-brands-logos ul li:nth-last-child(1){
    border-right: 1px solid #242424;
}

.popular-brands-logos ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.popular-brands-logos ul li a figure{
    overflow: hidden;
}

.popular-brands-logos ul li a strong {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    color: #242424;
    display: block;
    text-transform: capitalize;
}

.brands-more-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brands-more-items a{
    position: relative;
    padding-right: 20px;
    color: #f4b406;
}
.brands-more-items a strong{
    color: inherit!important;
}
.brands-more-items a:after{
    content: "\f101";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0;
    position: absolute;
    top: 10px;
    right: 0px;
    line-height: 15px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.brands-more-items a:hover{
    color: ;
}
.brands-more-items a:hover:after{
    right: -3px;
}

/*
-------------------
Start Responsive
-------------------
*/

@media(max-width: 1199px){
    .bt-grd-controller > ul > li{
        width: 50%;
    }
    .bt-grd-controller > ul > li:nth-child(3n+1){
        clear: initial;
    }
    .bt-grd-controller > ul > li:nth-child(2n+1){
        clear: left;
    }

}


@media(max-width: 991px){
    .bt-filter-search-item{
        width: 50%!important;
        padding-bottom: 15px;
    }
    .bt-search-selects-submit-btn input[type="submit"]{
        width: 200px;
    }
    .bt-filter-search-item.bt-filter-search-item-price-range{
        padding-top: 4px;
    }
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 32%;
    }
    .fl-bike-brands-textwidget ul:after,
    .fl-bike-brands-textwidget ul:before{
        content: "";
        display: table;
        clear: both;
    }
    .fl-bike-brands-textwidget ul li{
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .fl-textwidget ul li:last-child{
        border-bottom: 1px solid #ddd;
    }
    .fl-sidebar{
        margin-bottom: 25px;
    }
    .bt-grd-controller ul{
        margin-left: -10px;
        margin-right: -10px;
    }
    .fl-sec-hdr {
        padding-left: 0;
    }
    .fl-lft-sidebar{
        padding-bottom: 30px;
    }
    .popular-brands-logos{
        padding-left: 0;
    }
}
@media(max-width: 869px){
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 29%;
    }
}

@media(max-width: 767px){
    .bt-filter-search-item {
        width: 100%!important;
    }
    .bt-filter-search-controller form .bootstrap-select button{
        border-color: #242424;
    }
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 27%;
    }
    .popular-brands-logos ul li{
        width: 20%;
    }
    .popular-brands-logos ul li:nth-child(6n+1) {
        clear: initial;
    }
    .popular-brands-logos ul li:nth-child(5n+1) {
        clear: left;
    }
    .popular-brands-logos ul li:nth-child(6n+6) {
        border-right: 0;
    }
    .popular-brands-logos ul li:nth-child(5n+5) {
        border-right: 1px solid #242424;
    }
    .popular-brands-logos ul li:last-of-type{
        border-right: 1px solid #242424;
    }
}

@media(max-width: 700px){
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 25%;
    }
}

@media(max-width: 639px){
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 22%;
    }
    .bt-grd-controller > ul > li {
        width: 100%;
    }
    .bt-grd-controller > ul > li .bt-grd-item{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .popular-brands-logos ul li {
        width: 25%;
    }
    .popular-brands-logos ul li:nth-child(5n+1) {
        clear: initial;
    }
    .popular-brands-logos ul li:nth-child(4n+1) {
        clear: left;
    }
    .popular-brands-logos ul li:nth-child(5n+5) {
        border-right: 0;
    }
    .popular-brands-logos ul li:nth-child(4n+4) {
        border-right: 1px solid #242424;
    }
}



@media(max-width: 575px){
    .bt-filter-search-item label, 
    .bt-search-range-slider label{
        display: block;
    }
    .bt-search-range-slider-hdr{
        display: block;
    }
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 16%;
    }

    .popular-brands-logos ul li {
        width: 33.3333%;
    }
    .popular-brands-logos ul li:nth-child(4n+1) {
        clear: initial;
    }
    .popular-brands-logos ul li:nth-child(3n+1) {
        clear: left;
    }
    .popular-brands-logos ul li:nth-child(4n+4) {
        border-right: 0;
    }
    .popular-brands-logos ul li:nth-child(3n+3) {
        border-right: 1px solid #242424;
    }
}


@media(max-width: 479px){
    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before{
        width: 40px;
    }
    .bt-search-filter-sec-hdr h4:after{
        left: -10px;
    }
    .bt-search-filter-sec-hdr h4:before{
        right: -10px;
    }

    .bt-search-filter-sec-hdr h4:after, 
    .bt-search-filter-sec-hdr h4:before,
    .bt-search-filter-sec-hdr h4 span:before, 
    .bt-search-filter-sec-hdr h4 span:after {
       display: none;
    }
    .bt-search-filter-sec-hdr h4 span{
        padding-left: 0;
        padding-right: 0;
    }
    .search-filter-section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .popular-brands-logos ul li {
        width: 50%;
    }
    .popular-brands-logos ul li:nth-child(3n+1) {
        clear: initial;
    }
    .popular-brands-logos ul li:nth-child(2n+1) {
        clear: left;
    }
    .popular-brands-logos ul li:nth-child(3n+3) {
        border-right: 0;
    }
    .popular-brands-logos ul li:nth-child(2n+2) {
        border-right: 1px solid #242424;
    }
}



@media(max-width: 359px){

}